/* ESTILOS PARA TABLET */

@media (max-width: 965px) {

    .nav-container{
        margin: 0;
    }

    .nav-img {
        padding-left: 5px;
    }

    .nav-menu .nav-img-icon{
        width: 45px;
        height: 45px;
        cursor: pointer;
        padding-right: 5px;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        height: 0;
        right: 0.2rem;
        position: absolute;
        flex-direction: column;
        top: 68px;
        width: 400px;
        margin: 0.5rem;
        background-color: #1D7000;
        z-index: 1000;
        text-align: center;
        border-radius: 10px;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        overflow: hidden;
    }

    .nav-links.open{
        
        height: 300px;

    }

    .nav-links a {
        color: #fff;
        display: block;
    }

    .nav-links a:hover {
        color: #fff;
        font-weight: normal;
        background-color: #3ba515b0;
    }

    .nav-search{
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        width: 250px;
    }

    .nav-search input#search{
        padding: 0;
        text-align: center;
        height: 2.5rem;
    }

    .nav-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .nav-button button {
        background-color: #fff;
        margin: 0;
        color: #1D7000;
        width: 250px;
        margin-bottom: 16px;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: 800;
    }

    .nav-img-icon.open + .nav-links {
        display: flex;
        height: 300px;
    }

    .nav-button button:hover {
        background-color: #ffffffaf;
    }


    .nav-menu {
        display: block;
    }

}

/* ESTILOS PARA CELULAR */
@media (max-width: 576px) {
    .nav-links {
        left: 0.2rem;
        width: unset;
    }
}